
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Utils</title>
</head>
<body>
<h1>Welcome to the text analyzer. Enter your text below</h1>
<form action='/analyze' method='get'>
    <textarea name='text' style='margin: 0px; width: 721px; height: 93px;'></textarea><br>

    <input type="radio" name="ana" value="1"> Remove Punctuations<br>
    <input type="radio" name="ana" value="2"> Remove space<br>
    <input type="radio" name="ana" value="3"> Count caharacter<br>
    <input type="radio" name="ana" value="4"> Change to upper case<br>
    <input type="radio" name="ana" value="5"> Change to lower case<br>
    <input type="radio" name="ana" value="6"> Merge in one line<br>
    <button type='submit'> Analyze Text</button>

</form>
</body>
</html>
